<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @posting.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @posting.body %>
</p>


<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
